@{
    ViewData["Title"] = "About Us";
}

<h3>@ViewData["Title"]</h3>
<p>We are a company that sells products for a low price.</p>

<h3>Personal data and privacy policy</h3>
<p>
    We at Webbshop are keen that you as a customer feel confident in how we handle your personal information.
</p>
<p>
    Your personal information can be found in your member account.
    Here you can find ALL your information that we have stored about you. You can find the whole list of personal data we store about you below
    in the "Person data that we collect from you".
    You can also delete/change ALL your personal information in the 'manage your account' page
    found by clicking at the '👤' icon on top right.
</p>

<h3>Personal data that we collect from you</h3>
<p>
    <b>Note</b> that when you give your personal information to make an order or handling your data in your account, you will agree and accept
    the terms found on this page. This will allow us to store your personal data.
    You can decline the usage of your personal data by not enter your data.
    But this will make you unable to get your product sent to you and will only be able to bring your products in our local stores.
    We collect different types of personal information about you when you visit our website,
    purchase our products or register an account (become a member).
</p>
<p>
    We do ONLY collect necessary personal data to handle your completed order and your account.
    We do not collect personal data from you that we do not need, only necessary data is collected.
</p>
<p>Here is a list of ALL personal information we collect about you:</p>
<p>🔒 UserID</p>
<p>🔒 Username</p>
<p>🔒 Password</p>
<p>🔒 Email</p>
<p>🔒 Phonenumber</p>
<p>🔒 Firstname</p>
<p>🔒 Lastname</p>
<p>🔒 Address</p>
<p>🔒 City</p>
<p>🔒 Postalcode</p>
<p>🔒 Payment History</p>

<h3> Why do we store your personal information?</h3>
<p>💎 To be able to deliver our products home to you</p>
<p>💎 To contact you (via phonecalls, messages, email) in case of any errors or delays in your order</p>
<p>💎 To confirm your identity</p>
<p>💎 To make sure you can log in on your account</p>

<h3>Your rights as customer</h3>

<p>It is important that you know your own rights when it comes to personal data stored.</p>
<p>✔️ You have the right to see ALL data we have on you, you also have the right to change/delete that data.</p>
<p>✔️ You have the right to handle your own personal data on your own, you can add, update and delete your personal data</p>
<p>✔️ You have the right to Download the personal data we store about you</p>
<p>✔️ You have the right to request that your personal data should be deleted if you wish.</p>
<p>✔️ You have the right to delete your whole account at anytime, ALL personal data we hold about you will also be deleted</p>
<p>✔️ You have the right to decline the usage of your personal data in our webbshop anytime</p>

<h3>Cookies</h3>

<p>
    Cookies is a way to make your shopping easier and faster.
    When you visits our website, a message that asks you to accept cookies will be shown on the top, cookies will be used when you have accepted it.
    We temporarily store data in time-limited cookies that lasts 60 minuts, the cookie will then be deleted completely.
    We use cookies to handle products in your shopping cart and save it if you accidentally closed the window.
    We also use cookies to keep you logged in.
    You can find the cookies we store by pressing the "f12" key then "Cookies"
</p>
<p>
    We store all your personal information that is mention in "Personal data that we collect from you" in cookies.
    This is to allow you to log in and out on your account.
    We also store the productIDs in cookies to save your products in the shoppingcart.
    As mentioned above, we only use time-limited cookies to keep you logged in on your account and to save your products in the shoppingcart.
</p>
<p>
    You have the rights to deny the usage of cookies if you want to, this may make it harder for you to use our Website.
    You also have the rights to any time, decline the usage of cookies after you have accepted it if you changed your mind.
</p>