@{
    ViewData["Title"] = "About Us";
}

<h3>@ViewData["Title"]</h3>
<p>We are a company that sells products for a low price.</p>

<h3>Personal data and privacy policy</h3>
<p>
    We at Webbshop are keen that you as a customer feel confident in how we handle your personal information.
</p>
<p>
    Your personal information can be found in your member account.
    Here you can find your information such as telephone number, email address and postal address as well as username.
    You can also delete/change your personal information such as phonenumber, email, address in the 'manage your account' page 
    found by clicking at the '👤' icon on top right
</p>

<h3>Personal data that we collect from you</h3>
<p>
    We may collect different types of personal information about you when you visit our website,
    purchase our products or register an account (become a member).
    We collect your personal data to handle your completed order.
</p>
<p>Examples of personal information that we collect about you on these occasions are:</p>
<p>🔒 UserID</p>
<p>🔒 Name</p>
<p>🔒 Username</p>
<p>🔒 Contact information, such as address, email address and phonenumber</p>
<p>🔒 Payment History</p>

<h3> Why do we store your personal information?</h3>
<p>💎 To be able to deliver our products to you</p>
<p>💎 To contact you (via phonecalls, messages, email) in case of any errors or delays in your order</p>
<p>💎 To confirm your identity</p>

<h3>Your rights as customer</h3>

<p>It is important that you know your own rights when it comes to personal data stored.</p>
<p>✔️ You have the right to see what data we have on you, you also have the right to change/delete that data.</p>
<p>✔️ You have the right to request that your personal data should be deleted if you wish.</p>
<p>✔️ You have the right to request to delete your account, all personal data we hold about you will also be deleted</p>

<h3>Cookies</h3>

<p>
    We temporarily store data in time-limited cookies that lasts 60 minuts.
    This is so that we can manage your shopping cart and save it if you accidentally closed the window.
</p>
