@model OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WebbShop</h1>
</div>
<br />
<center>
    <h1>Recommended Products</h1>
    <br />
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            @{
                var first = true;
            }
            @foreach (var item in Model.Productlist)
            {
                <div class="carousel-item @(first ? Html.Raw("active") : Html.Raw(""))">
                    @{string img = item.Name + ".jpg";}
                    <a asp-controller="Products" asp-action="ViewProduct" asp-route-ID="@item.ID">
                    <img src="~/Images/@img" style="height:18rem; width:60%" />
                    </a>
                </div>
                first = false;
            }
        </div>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
           data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
        </a>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
           data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
        </a>

    </div>
</center>