@model OrderViewModel
@{

}
<center>
    <h1>Products</h1>
</center>
<br />

<div class="row">
    @foreach (var item in Model.Productlist)
    {
        <div class="mb-4 col-sm-12 col-md-3" id="card">
            <div class="card h-100">
                @{ string Img = item.Name + ".jpg";}
                <a asp-controller="Products" asp-action="ViewProduct" asp-route-ID="@item.ID">
                    <img src="~/Images/@Img" class="p-1" style="height: 90%; width: 100%;" />
                </a>
                <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
                <center>
                    <b style="float:left">@item.Name</b>
                    <b style="float:right">@item.Price Kr</b>
                    <br />
                    <br />
                    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="ViewProduct" asp-route-ID="@item.ID">
                        Go to product
                    </a>
                </center>
            </div>
        </div>
    }
</div>
