@model ProductDetails
@{
}
<center>
    <h1>Confirm your order</h1>
</center>
<br />

<div class="row">
    <div class="col-md-6">
        <center>
            <h2>Your Products:</h2>
        </center>

        <center>
        <b style="color:darkblue; float:left">Product</b>
            <b style="color:darkblue"> Unit Price * Amount</b>
        </center>

        @foreach (var item in Model.CartList)
        {
            <li class="list-group-item">

                <div class="row">
                    <div class="col-md-6">
                    <b>@item.Name - @item.Maker</b>
                        <p>@item.Description</p>
                    </div>

                    <div class="col-md-6">
                        <b style="float:left">@item.Price kr</b>
                        @{ string img = item.Name + ".jpg";}
                        <img src="~/Images/@img" style="height:100%; width:65%; float:right"/>
                        <br />
                        <p>Amount: #</p>

                    </div>
                </div>

            </li>
        }
    </div>

    <div class="col-md-6">
        <center>
            <h2>PAYMENT</h2>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
        </center>

        <b>SHIPMENT</b>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <li class="list-group">
            <p><input type="checkbox" /> BRING IN STORE</p>
            <p><input type="checkbox" /> SEND TO ME</p>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
        </li>

        <b>WAY TO PAY</b>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <li class="list-group">
            <p><input type="checkbox" /> PAY IN STORE</p>
            <p><input type="checkbox" /> SWISH</p>
            <p style="border:1px; border-style:solid; border-color:#000000"></p>
        </li>

        <b>INFORMATION</b>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <li class="list-group">
            <p>UserID: </p>
            <p>Email:</p>
        </li>
        <p style="border:1px; border-style:solid; border-color:#000000"></p>
        <center>
            <a class="btn btn-success" asp-controller="Checkout" asp-action="CompleteOrder">Checkout</a>
        </center>
    </div>
</div>