@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProductDetails
@{
}

<h1 style="color:darkblue">Cart</h1>
<br />

@if (Model.CartList.Count() == 0)
{
    <p>Cart is Empty</p>
}
else
{
    @foreach (var item in Model.CartList)
    {
        <div class="row">
            <div class="col-md-6">
                @{string img = item.Name + ".jpg";}
                <img src="~/Images/@img" style="height:90%; width:30%; float:left" />
                <p><b>Name:</b> @item.Name</p>
                <p><b>Description:</b> @item.Description</p>
            </div>

            <div class="col-md-6">
                <b style="color:darkblue; float:left">@item.Price kr</b>
                <br />

                <a class="btn btn-outline-primary" style="float:left;">-</a>
                <input type="text" style="float:left; text-align:center; width:6%;" value="#" />
                <a class="btn btn-outline-primary" style="float:left;">+</a>

                <form class="form-group" asp-controller="" asp-action="" method="post">
                    <button class="btn btn-outline-danger" type="submit" style="float:right" href="###">Remove</button>
                </form>
            </div>
        </div>
        <p style="border:1px; border-style:solid; border-color:#808080 "></p>
    }
}

<b> <b style="color:darkblue">Totalsum: </b>@Model.Totalsum kr</b>
<br />
<br />

<form class="form-group" method="post" asp-controller="Checkout" asp-action="ShoppingCart">
    <button type="submit" class="btn btn-danger">Empty Cart</button>
</form>

<center>
    <a class="btn btn-outline-primary" asp-controller="Products" asp-action="IndexProducts">Continue shopping</a>
</center>

@if (SignInManager.IsSignedIn(User))
{
    <a style="float:right" class="btn btn-success" asp-controller="Checkout" asp-action="ConfirmOrder">Confirm order</a>
}
else
{
    <a style="float:right" class="btn btn-success" asp-area="Identity" asp-page="/Account/Login" asp-route-LoggedIn="false">Confirm order</a>
}
