
@{
}
<h1>Cart</h1>

<div class="row">
    <a class="btn btn-success" asp-controller="Checkout" asp-action="ConfirmOrder">Confirm order</a>

    <form class="form-group" method="post" asp-controller="Checkout" asp-action="ShoppingCart">
        <button type="submit" class="btn btn-danger">Empty Cart</button>
    </form>
</div>
