@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model ProductDetails
@{
}

<h1 style="color:darkblue">Cart</h1>
<br />

@if (Model.CartList.Count() == 0)
{
    <p>Cart is Empty</p>
}
else
{
    @foreach (var item in Model.CartList)
    {
        <p><b>Name:</b> @item.Name</p>
        <p style="float:right">@item.Price kr</p>
        <p><b>Description:</b> @item.Description</p>
        <p style="border:1px; border-style:solid; border-color:#808080 "></p>
    }
}

<p> <b style="color:darkblue">Totalsum: </b>@Model.Totalsum kr</p>
<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="btn btn-success" asp-controller="Checkout" asp-action="ConfirmOrder">Confirm order</a>
    }
    else
    {
        <a class="btn btn-success" asp-area="Identity" asp-page="/Account/Login" asp-route-LoggedIn="false">Confirm order</a>
    }

    <form class="form-group" method="post" asp-controller="Checkout" asp-action="ShoppingCart">
        <button type="submit" class="btn btn-danger">Empty Cart</button>
    </form>
</div>
